---
import "@fontsource-variable/onest";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Perfil from "../components/Perfil.astro";
import Proyectos from "../components/Proyectos.astro";
import Layout from "../layouts/Layout.astro";
import Tecnologias from "../components/Tecnologias.astro";
---

<Layout title="Abraham Sulbaran" description="Portafolio de Abraham Sulbaran">	
	<div
		class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
	>
	</div>
	<main
		class="scrollbar h-screen w-full py-5 flex flex-col gap-20 items-center text-pretty overflow-y-scroll"
	>
		<Header />

		<Perfil />
		<About />
		<Proyectos />
		<Tecnologias/>
		<Footer/>
	</main>
</Layout>

<style>
	.scrollbar::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: rgba(100, 100, 238, 0.425);
		border-radius: 100vh;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: rgba(56, 56, 235, 0.425);
	}

	main {
		scroll-behavior: smooth !important;
	}
</style>
