---
import About from "../components/About.astro";
import Perfil from "../components/Perfil.astro";
import Proyectos from "../components/Proyectos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="h-[100vh] w-full flex flex-col gap-8 items-center">
		<br /><br /><br /><br />
		<Perfil />
		<About />
		<Proyectos />
		<br /><br /><br /><br />
	</main>
</Layout>

<style>
	main {
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
</style>
