---
import {basicStyleSection} from "../config.js"
---

<section class={"flex flex-col justify-center  gap-1 " + basicStyleSection}>
    <h2 class="font-medium text-2xl">About</h2>
    <p class=" font-medium ">
        Soy estudiante de Ingeniería en Sistemas con habilidades en ventas, manejo de redes sociales, desarrollo
web y atención al cliente. Tengo conocimiento en Community Management y diversas tecnologias de la Web
lo que me ha proporcionado las herramientas necesarias para gestionar y optimizar la presencia en línea de
marcas y negocios. Me destaco por mi capacidad para comunicarme eficazmente, resolver problemas y
trabajar en equipo.

    </p>
</section>

<style>
    p{
        color: #e2d9d9dc;
    }

</style>