

<footer class="w-full  border-t-2 flex items-center justify-between px-6 bg-transparent border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©2025 <a href="https://flowbite.com/" class="hover:underline">Abraham Sulbaran</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#about" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="#perfil" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>
