

<footer class="w-full flex items-center justify-center bg-transparent ">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©2025 <a href="https://flowbite.com/" class="hover:underline">Abraham Sulbaran</a>
    </span>
    
</footer>
