<header
	class="w-fit rounded-2xl flex justify-center items-center px-3 py-2 font-medium text-md fixed backdrop-blur	"
>
	<nav class="flex gap-3">
		<a href="#perfil">Perfil</a>
		<a href="#about">About</a>
		<a href="#proyectos">Proyectos</a>
		<a href="#tecnologias">Tecnologias</a>
		<a href="#contact">Contact</a>
	</nav>
</header>
