---
import Container from "./Container.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Instagram from "./icons/Instagram.astro";
import LinkTo from "./LinkTo.astro";
---

<Container class="mt-48 mb-36">
	<div class="flex flex-col gap-8 items-start justify-center">
		<div class="flex gap-6 items-center justify-start">
			<img
				class="w-32 shadow-lg hover:scale-105 duration-500 rounded-full"
				onclick=""
				src="/avatar.webp"
				alt="Abraham Sulbaran"
			/>

			<h1 class="text-5xl font-medium text-white text-pretty">
				Hola, Soy <br /> Abraham Sulbaran
			</h1>
		</div>

		<div class="flex flex-col gap-4 items-center justify-start text-wrap">
			<h2 class="text-2xl font-medium text-gray-300">
				+1 año de experiencia. <span class="text-yellow-200"
					>Desarrollador Web FullStack</span
				> de Tachira <span class="text-yellow-400">Ven</span><span
					class="text-blue-500">ezu</span
				><span class="text-red-500">ela</span>. Expecializado en crear
				aplicaciones unicas.
			</h2>
			<nav class="flex items-start w-full">
				<LinkTo link="https://github.com/Sulbav">
					<Github />
					Github
				</LinkTo>
				<LinkTo link="https://www.linkedin.com/in/abraham-sulbaran-123baa291/">
					<Linkedin />
					Linked In
				</LinkTo>
				<LinkTo link="https://www.instagram.com/abrahamsjz/">
					<Instagram />
					Intagram
				</LinkTo>
			</nav>
		</div>
	</div>
</Container>
