---
import Badge from "./utils/Badge.astro";
import Reactjs from "./icons/Reactjs.astro";
import CardTec from "./utils/CardTec.astro";
import Container from "./utils/Container.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindCSS from "./icons/TailwindCSS.astro";
import Nodejs from "./icons/Nodejs.astro";
import SQL from "./icons/SQL.astro";
import Mongodb from "./icons/Mongodb.astro";
import Git from "./icons/Git.astro";
import Github from "./icons/Github.astro";
---

<Container id="tecnologias" class=" flex flex-col items-center md:items-start gap-8">
	<h3 class="font-medium text-3xl hidden md:flex">Tecnologias y Herramientas</h3>
    <h3 class="font-medium text-3xl md:hidden">Tecnologias</h3>
	<div class="w-full flex flex-col md:flex-row gap-2 md:flex-wrap h-72">
		<CardTec title="FrontEnd">
			<Badge>
				<Reactjs />Reactjs
			</Badge>
			<Badge>
				<AstroIcon />Astro
			</Badge>
			<Badge>
				<TailwindCSS />TailwindCSS
			</Badge>
		</CardTec>
		<CardTec title="BackEnd" >
            <Badge>
                <Nodejs/>ExpressJS
            </Badge>
            <Badge>
                <SQL/>PostgreSQL
            </Badge>
            <Badge>
                <Mongodb/>MongoDB
            </Badge>
        </CardTec>
		<CardTec title="Herramientas">
            <Badge>
                <Git/>Git
            </Badge>
            <Badge>
                <Github/>GitHub
            </Badge>
        </CardTec>
		
	</div>
</Container>
