<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Abraham Sulbaran</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		display: flex;
		justify-content: center;
		overflow: hidden;
		margin: 0;
		width: 100vw;
		height: 100vh;
		box-sizing: border-box;
		padding: 0;
		background: rgb(17, 17, 17);
		background: linear-gradient(
			173deg,
			rgba(17, 17, 17, 1) 0%,
			rgba(34, 34, 34, 1) 91%,
			rgba(51, 51, 51, 1) 100%
		);
		color: #f3e9e9;
	}
</style>
