---
const {title} = Astro.props
---

<div class="h-fit w-60 flex flex-col bg-gray-500/15 border-gray-500 border-2 rounded p-2 gap-1">
    <h4 class="font-medium text-2xl text-gray-500">{title}</h4>
    <div class="flex gap-3 flex-wrap ">
        <slot/>
    </div>
</div>